/* Heading */
.heading {
    display: grid;
    grid-template-columns: 0.65fr 20fr;
    gap: 10px;
    margin: 10px 0;
}

.heading span {
    background-color: #F8D442;
}

.heading h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39.01px;
}


/* Input Text*/
/* OUTLINED LABEL INPUT TEXT (DEFAULT) */

.input-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.input-text label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #6C6C6C;
}

.input-text:focus-within label {
    color: #FEAF00;
}

.input-text input,
.input-text textarea {
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.63px;
    padding: 15px;
    color: black;
}

.input-text input::placeholder,
.input-text textarea::placeholder {
    color: #CDCDCD;
}

.input-text input:focus,
.input-text textarea:focus {
    outline: none;
    border: 1px solid #FEAF00;
}


/* INLINED LABEL INPUT TEXT */

.input-text-inlined {
    background-color: #F3F3F3;
    border-radius: 8px;
    position: relative;
    width: 100%;
}

.input-text-inlined label {
    position: absolute;
    left: 25px;
    top: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.63px;
    color: #ACACAC;

}

.input-text-inlined input {
    padding: 0;
    background-color: inherit;
    border: none;
    width: calc(100% - 50px);
    height: 100%;
    padding: 25px;
    color: #000000;
    width: 100%;
}

.input-text-inlined input::placeholder {
    color: #000000;
}

/* Button */
.button {
    width: 100%;
    background-color: #FEAF00;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 5px 0;
}

.button:hover {
    transform: scale(1.05);
}

.button-rounded {
    border-radius: 50px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    text-transform: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    transition: all 0.3s ease-in-out;
}

/* Typography */
.typography {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #667085;
    text-align: center;
    /* width: 300px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 350px;
    background-color: #F2EAE1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

.sidebar aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.sidebar aside .profile {
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.sidebar aside .profile img {
    border-radius: 50%;
}

/* Icon Link */
.icon-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 30px;
    gap: 10px;
    text-decoration: none;
    width: 100%;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.icon-link:hover {
    background-color: #feae0055;
    transform: scale(1.025);
}

.icon-link span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: black;
}

/* ACTIVE LINK */
.active-icon-link {
    background-color: #FEAF00;
}

.active-icon-link span {
    font-weight: 700;
}

/* REVERSE ALTERNATIVE */
.reversed-icon-link {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

/* Toolbar */
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    height: 70px;
    background-color: white;
}

/* Action heading */
.action-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
}

.action-heading .action {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Action icon */
.action-icon {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 24px;
    height: 24px;
}

.action-icon:hover {
    transform: scale(1.1);
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #00000080;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal .content {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    width: 500px;
    display: grid;
    gap: 20px;
}

/* Hero */
.hero {
    height: 287px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
    padding: 0 50px;
}

.hero .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 50%;
}

.hero .image {
    height: 100%;
    width: auto;
    display: flex;
}

.hero .image img {
    width: 100%;
    height: 115%;
    margin-top: -14.5%;
}

/* Select */
.select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #EBEDEC;
    padding: 7px 14px;
    border-radius: 28px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: auto;
}

.select:hover {
    background-color: #E4E7E2;
}

.select p {
    width: auto;
}

/* Product */
.product {
    border: 1.54px solid #F7F5F7;
    border-radius: 18.48px;
    overflow: hidden;
}

.product .image {
    background-color: #F7F5F7;
    position: relative;
    padding: 20px 40px;
}

.product .image img:nth-child(1) {
    width: 100%;
    height: 100%;
}

.product .image img:nth-child(2) {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product .image img:nth-child(2):hover {
    scale: 1.1;
}

.product .info {
    background-color: white;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.product .info .stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Stars */
.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: auto;
}

.stars div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    height: 100%;
}

.pagination span {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #1D364D;
    border: 1px solid #F3F3F3;
    padding: 17.5px 20px;
    background-color: white;
}

.pagination span.active {
    font-weight: 600;
    background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
}

/* Cart */
.cart {
    position: relative;
}

.cart .icon {
    height: 100%;
    width: 100%;
}

.cart span {
    position: absolute;
    top: -15px;
    right: -5px;
    background-color: #1D364D;
    border: 1.5px solid #FFFFFF;
    border-radius: 50%;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
}

/* Notification */
.notification {
    position: relative;
}

.notification .icon {
    height: 100%;
    width: 100%;
}

.notification span {
    position: absolute;
    top: 2.5px;
    right: 2.5px;
    background-color: #D75951;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    animation: ping-animation 1.5s infinite;
}


@keyframes ping-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* User */
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
}

.toggle-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 4px solid #EAECF0;
}

.toggle-bar p {
    padding: 20px;
    cursor: pointer;
}

.toggle-bar p.active {
    font-weight: 600;
    color: #164C96;
    border-bottom: 4px solid #164C96;
    margin-bottom: -4px;
}

.breadcrumb {
    background-color: #EDF0F8;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 14px;
    width: auto;
    height: auto;
    border-radius: 8px;
}
.breadcrumb .active{
    font-weight: 600;
    color: #3A4980;    
}

/* Header */
header {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px 80px;
    height: 100px;
    border-bottom: 1px solid #EDEDED;
}

header .logo p {
    font-weight: 800;
    font-style: italic;
    font-size: 32.8px;
    line-height: 100%;
    color: #0D3356;
}

header .links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

header .links a {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1D364D;
}

header .user-info {
    display: flex;
    gap: 15px;
}

/* Footer */
footer {
    background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}