.liste-produits{
    display: flex;
    width: 100%;
    margin-bottom: auto;
}

.liste-produits .content{
    width: calc(100% - 350px);
    margin-left: auto;
    padding-bottom: 50px;
}


@media screen and (max-width: 1400px) {
    .liste-produits .content {
        width: calc(100% - 300px);
    }
}

.liste-produits .content section{
    padding: 0 30px;
    display: grid;
    gap:20px;
    margin-top:20px;
}

.liste-produits .content section .product-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}


.liste-produits .content section .product-table thead tr th{
    padding: 10px 0;
    color: #ACACAC;
}


.liste-produits .content section .product-table tbody{
    margin-bottom: 10px;
    background-color: #ACACAC ;
}

.liste-produits .content section .product-table tbody tr {
    margin-bottom: 10px;
}

.liste-produits .content section .product-table tbody tr td {
    padding: 10px 0;
    background-color: white;
    border-top: 15px solid #F8F8F8;
    border-bottom: 15px solid #F8F8F8;
}