.produit-unique {
    display: grid;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: white;
}


{
    display: grid;
    gap: 40px;
    width: 100%;
    padding: 75px 75px 150px 75px;
    margin: 0 auto;
}

.main-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}

.main-details .images .main-image {
    width: 100%;
    height: 670px;
    border: 1px solid #EDF0F8;
    border-radius: 17px;
    object-fit: cover;
}

.main-details .images div {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.main-details .images div.thumbnails-arrows {
    margin-top: 30px;
}

.main-details .images div img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 14px;
}


.main-details .images div img.left,
.main-details .images div img.right {
    width: 30px;
    height: 30px;
    margin: auto;
    object-fit: cover;
}


.main-details .images div img.active {
    border: 3px solid #3A4980;
}


.main-details .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.main-details .infos aside {
    display: grid;
    gap: 10px;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #E4E4E4;
}

.main-details .infos aside p {
    text-align: start;
}


.main-details .infos .name div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%
}

.main-details .infos .name div:nth-child(1) div {
    display: flex;
    align-items: center;
    gap: 10px;
}


.main-details .infos .price div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.main-details .infos .price div div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-details .infos .colors,
.main-details .infos .size {
    display: grid;
    gap: 20px;
}

.main-details .infos .colors .checks {
    display: flex;
    gap: 20px;
}

.main-details .infos .size .checks {
    display: flex;
    gap: 10px;
}

.main-details .infos .quantity {
    display: flex;
    gap: 20px;
}

.main-details .infos .messages {
    display: grid;
    gap: 21px;
    border: 1px solid #E4E4E4;
    padding: 17px;
    border-radius: 14px;
    width: 100%;
}

.main-details .infos .messages .message {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.main-details .infos .messages .message div {
    display: grid;
    gap: 10px;
}

.description {
    display: grid;
    gap: 50px;
}

.description p {
    text-align: start;
}

.description aside {
    display: grid;
    gap: 20px;
}

.description aside .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #344054;
}

.description aside div {
    display: grid;
    gap: 10px;
}

.products-carrousel {
    display: grid;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.products-carrousel .products {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.products-carrousel .arrow-left,
.products-carrousel .arrow-right {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.products-carrousel .arrow-left {
    left: 0;
}
.products-carrousel .arrow-right {
    right: 0;
}
.products-carrousel .title{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #344054;
}
.products-carrousel .product{
    width: 200px;
}
.products-carrousel .product .image img:nth-child(2){
    width: 30px;
    height: 30px;
}