.produit-unique {
    display: grid;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: white;
}


.produit-unique .content {
    display: grid;
    gap: 40px;
    width: 100%;
    padding: 75px 75px 150px 75px;
    margin: 0 auto;
}

.produit-unique .content .main-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}

.produit-unique .content .main-details .images .main-image {
    width: 100%;
    height: 670px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #EDF0F8;
    border-radius: 17px;
}

.produit-unique .content .main-details .images div {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}
.produit-unique .content .main-details .images div.thumbnails-arrows {
    margin-top: 30px;
}

.produit-unique .content .main-details .images div img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 14px;
    /* border: 3px solid #EDF0F8; */
}

.produit-unique .content .main-details .images div .left,
.produit-unique .content .main-details .images div .right {
    width: 30px;
    height: 30px;
    margin: auto;
    object-fit: none;
    cursor: pointer;
}

.produit-unique .content .main-details .images div img.active {
    border: 3px solid #3A4980;
}


.produit-unique .content .main-details .infos{
    display: flex;
    justify-content: start;
    align-items: start;
}
.produit-unique .content .description {
    display: grid;
    gap: 50px;
}

.produit-unique .content .description .typography {
    text-align: start;
}

.produit-unique .content .description aside {
    display: grid;
    gap: 20px;
}

.produit-unique .content .description aside .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #344054;
}

.produit-unique .content .description aside div {
    display: grid;
    gap: 10px;
}

.produit-unique .content .products-carrousel {
    display: grid;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.produit-unique .content .products-carrousel .products {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.produit-unique .content .products-carrousel .arrow-right,
.produit-unique .content .products-carrousel .arrow-left {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.produit-unique .content .products-carrousel .arrow-right {
    right: 0;
}

.produit-unique .content .products-carrousel .arrow-left {
    left: 0;
}

.produit-unique .content .products-carrousel .title {
    text-align: start;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #344054;
}

.produit-unique .content .products-carrousel .products .product {
    width: 200px;
}

.produit-unique .content .products-carrousel .products .product .image img:nth-child(2) {
    width: 30px;
    height: 30px;
}